.underlineVoiceBtnContainer,
.underlineVoiceBtn {
  font-family: 'Pretendard';
  font-style: normal;
}

.underlineVoiceBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underlineVoiceBtnsubText {
  font-size: 18px;
  font-weight: 200;
  color: #ffffff;
  padding: 0 0;
  margin: 0 0;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.underlineVoiceBtn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
}

.underlineVoiceBtn:active {
  transform: translateY(1px);
}
